@model IEnumerable<Lab2.Data.Entities.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well well-lg">PERSON LIST</div>


@{ var count = 0;
    foreach (var item in Model)
    {
        count++;
    }
    if (count > 2)
    {
        <div class="alert alert-warning alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning!</strong> There are more than two people in the list!
        </div>
    }
}

<div class="Persons" >
            

            <table id="persons" class="table table-bordered table-striped table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MiddleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.YearsInSchool)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearsInSchool)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "User", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                    @Html.ActionLink("Details", "Details", "User", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", "User", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })

                </td>
            </tr>
}

            </table>
        </div>

<button id ="hideButton" type="button" class="btn btn-default">Hide</button> <button id="unHideButton" type="button" class="btn btn-primary">Unhide</button>


@section scripts {
    <script>
        $(document).ready(function () {
            $("#hideButton").click(function () {
                $("#persons").hide();
            });
            $("#unHideButton").click(function () {
                $("#persons").show();
            });
         
        });
    </script>
}

